.ols-plugin__remediation-card-header--clickable {
  cursor: pointer;
}

.ols-plugin__remediation-card-header--title {
  text-transform: uppercase;
}

.ols-plugin__rbac-namespace-link a {
  text-decoration: underline dashed;
  text-underline-offset: var(--pf-t--global--spacer--xs);
}
