.ols-plugin__remediation-card-header--clickable {
  cursor: pointer;
}

.ols-plugin__remediation-select-row {
  cursor: pointer;
  display: block;
}

.ols-plugin__remediation-card--selected {
  --pf-v6-c-card--BorderColor: var(--pf-t--global--border--color--clicked);
  --pf-v6-c-card--BorderWidth: var(--pf-t--global--border--width--box--clicked);
}

.ols-plugin__remediation-card-header--title {
  font-size: var(--pf-t--global--font--size--body--sm);
  color: var(--pf-t--global--text--color--subtle);
}

.ols-plugin__remediation-option-title {
  font-size: var(--pf-t--global--font--size--body--sm);
  margin-block: 0;
}

.ols-plugin__rbac-namespace-link a {
  text-decoration: underline dashed;
  text-underline-offset: var(--pf-t--global--spacer--xs);
}
